/*
Stylesheet for mobile devices up to 568px 

*/


/*--------------------------------------------------------------
# 
--------------------------------------------------------------*/
body {
	width: 100%;
}

#site-logo img {
	max-width: 100%;
	height: auto;
}

@media (max-width: 568px) {
	#main {
		width: 100%;
	}
}

.member-menu {
	width: 18%;
}

.member-biography {
	width: 50%;
}

.member-favorites {
	width: 25%;
}